*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
*.mk
*.map
*.properties
*.production
*.debug
nbactions.xml
nb-configuration.xml
funclist

html/
nbproject/private/
nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
nbproject/Makefile-*
disassembly/
.generated_files/

PIC32_SD_BL.X/html/
PIC32_SD_BL.X/nbproject/private/
PIC32_SD_BL.X/nbproject/Package-*.bash
PIC32_SD_BL.X/build/
PIC32_SD_BL.X/nbbuild/
PIC32_SD_BL.X/dist/
PIC32_SD_BL.X/nbdist/
PIC32_SD_BL.X/nbproject/Makefile-*
PIC32_SD_BL.X/disassembly/
PIC32_SD_BL.X/.generated_files/

